@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root [data-theme='wintry'] {
    --theme-font-family-base: 'Bitter', serif;
    --theme-font-family-heading: 'Bitter', serif;
}